
.myPage {
    margin: 0 auto;
    min-height: 80%;
    background-color: #e8e8e8;
    font-family: 'Open Sans', sans-serif;
}

#header {
    margin-bottom: 16px;
}
.col-md-3 { width: 32.2% !important;}
.col-md-11 { width: 97.3% !important;}
.row {
    overflow: hidden;
}
h1, h2, h3, h4  {color: #777 !important;}

#footer {
    font-size: small;
    text-align: center;
    margin: 10px;
}