
.myPage {
    margin: 0 auto;
    padding: 4px;
    width: 80%;
    min-width: 80%;
    min-height: 80%;
}
#header {
    margin-bottom: 18px;
}
#footer {
    font-size: small;
    text-align: center;
    margin: 10px;
}